@keyframes shine {
  to {
      background-position-x: -200%;
  }
}
  
  /* Container for skeleton list items */
  .skelCont1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px; /* Adjust the gap between skeleton items */
  }

  .skelCont1:not(:last-child){
    margin-bottom: 20px;
  }
  
  /* Skeleton list item style */
  .skelList {
    height: 15px; /* Adjust height as needed */
    width: 100%; /* Full width of the container */
    background: #ffffff;
    background: linear-gradient(110deg, #ecebeb 8%, #f5f5f5 18%, #ecebeb 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    border-radius: 4px; /* Rounded corners */
  }