.ferryListCard{
    position: relative;
    width: 100%;
    height: 238px;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
    box-sizing: border-box;
}

.ferryListCard::after, .ferryListCard::before{
    position: absolute;
    content: "";
    background-color: #FAFBFC;
    border: 1px solid #E9E9E9;
    height: 26px;
    width: 26px;
    top: calc(50% - 26px / 2);
    border-radius: 50px;
}

.ferryListCard::after{
    left: calc(-1px - 26px / 2);
}

.ferryListCard::before{
    right: calc(-1px - 26px / 2);
}

.left, .right{
    position: absolute;
    background-color: #FAFBFC;
    height: 30px;
    width: 13px;
    top: calc(50% - 28px / 2);
    z-index: 1;
}

.left{
    left: calc(-1px - 13px);
}

.right{
    right: calc(-1px - 13px);
}

.ferryCardWrapper, .cardTitle, .ferryDetaildSec, .ferryFeatures, .featureList{
    display: flex;
}

.ferryCardWrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 29px;
}

.cardTitle{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.mainTitle{
    font-size: 26.5px;
    font-weight: 500;
}

.opratorInfo{
    margin-top: 1px;
    margin-left: 21px;
    font-size: 12.5px;
    color: #696969
}

.ferryDetaildSec{
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    box-sizing: border-box;
    margin-top: 11px;
    width: 437px;
    height: 123px;
    background-color: #EBF7F3;
    border: 1px solid #C1E7DA;
    border-radius: 8px;
}

.cardFromInfo, .cardToInfo{
    width: 115px;
}

.cardToInfo{
    text-align: right;
}

.fromTimeing, .toTimeing{
    font-size: 21.5px;
    font-weight: 600;
}

.fromLocation, .toLocation{
    margin-top: -2px;
    font-size: 15px;
    color: #696969;
}

.middleIconSec{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 145px;
    height: 100%;
    box-sizing: border-box;
}

.leftDot, .rightDot{
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #1E2C70;
    border: 2px solid #989EBD;
    border-radius: 50px;
}

.leftDot{
    left: 0;
}

.rightDot{
    right: 0;
}

.borderBoxs{
    position: absolute;
    width: 85%;
    border-top: 1px dashed #60C0A1;
}

.ferryAnimationCont{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 65px;
    height: 100%;
    background-color: #EBF7F3;
}

.ferryAnimationICO{
    width: 110px;
}

.ferryAnimationICO div svg g{
    width: 20px;
}

.tripDuration{
    position: absolute;
    left: 12px;
    bottom: 15px;
    font-size: 12.5px;
    color: #696969;
}

.middleSep{
    height: 100%;
    width: 1px;
    border-left: 2px dashed #e9e9e9a9 ;
}

.ferryFeatures{
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
}

.featureList{
    display: flex;
    align-items: center;
}

.featureText{
    margin-top: -5px;
    margin-left: 9px;
    font-size: 15px;
}

.featureList:nth-child(1) svg{
    width: 25px;
}

.ferryCardRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163px;
}

.ratting{
    display: flex;
    align-items: flex-end;
    margin-top: 37px;
}

.starsList{
    display: flex;
    gap: 3px;
}

.starsList svg{
    width: 18px;
}

.starsList svg path{
    fill: #FF9933;
}

.rattingCount{
    margin-bottom: 1px;
    margin-left: 9px;
    font-size: 12.4px;
    color: #696969;
}

.pricingCont{
    text-align: center;
    margin-top: 19px;
}

.tripPrice{
    font-size: 31px;
    font-weight: 600;
    color: #38B089;
}

.tripPriceNote{
    margin-top: 2px;
    font-size: 15px;
    color: #1F1F1F;
}

.bookingBTN{
    margin-top: 11px;
    height: 48px;
    width: 100%;
    background-color: #1E2C70;
    border: 2px solid #989EBD;
    border-radius: 8px;
    color: #fff;
    font-size: 21.5px;
    letter-spacing: .2px;
    font-weight: 500;
    cursor: pointer;
}

.bookingBTN:hover{
    background-color: #38B089;
    border-color: #A3DBC9;
}


@media (min-width: 980px) {
    .ferryCardRightMob{
        display: none;
    }
}

@media (max-width: 980px){
    .ferryCardRight{
        display: none;
    }
    .ferryListCard{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    .ferryCardWrapper{
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 15px;
    }
    .ferryCardLeft{
        height: 100%;
    }
    .middleSep{
        height: 1px;
        width: 100%;
        border-left: none;
        border-top: 2px dashed #e9e9e9a9 ;
    }
    .mainTitle{
        font-size: 18px;
        font-weight: 500;
    }
    .opratorInfo{
        margin-left: 12px;
        font-size: 11px;
    }
    .ferryDetaildSec{
        padding: 0 15px;
        width: 100%;
        height: 100%;
        background-color: #EBF7F3;
        border: 1px solid #C1E7DA;
        border-radius: 8px;
    }
    .fromTimeing, .toTimeing{
        font-size: 16px;
        font-weight: 600;
    }
    .fromLocation, .toLocation{
        font-size: 12px;
    }
    .leftDot, .rightDot{
        z-index: 1;
    }
    .ferryAnimationICO{
        display: flex;
        align-items: center;
        height: 100%;
        width: 70px;
        padding-top: 8px;
    }
    .ferryAnimationCont{
        width: 50px;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .tripDuration{
        position: relative;
        font-size: 10px;
        left: 0;
    }
    .ferryFeatures{
        margin: 16px 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 8px 15px;
    }
    .featureList svg{
        width: 15px !important;
        height: 15px !important;
    }
    .featureText{
        margin-top: -5px;
        margin-left: 6px;
        font-size: 12px;
    }
    .middleIconSec{
        width: 145px;
        height: 80px;
    }
    .ferryCardRightMob{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 16px 0;
    }
    .ratting{
        align-items: center;
        margin-top: 0px;
    }
    .starsList svg{
        width: 13px;
        height: 13px;
    }
    .rattingCount{
        margin-left: 7px;
        font-size: 11px;
    }
    .pricingCont{
        text-align: start;
        margin-top: 5px;
    }
    .tripPrice{
        font-size: 25px;
    }
    .tripPriceNote{
        margin-top: -4px;
        font-size: 15px;
        color: #1F1F1F;
    }
    .bookingBTN{
        height: fit-content;
        width: fit-content;
        border-radius: 8px;
        font-size: 14px;
        padding: 8px 22px;
    }
    .ferryListCard::after, .ferryListCard::before{
        top: calc(67% - 26px / 2);
    }
    .left, .right{
        top: calc(67% - 28px / 2);
    }
}