.subWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}

.titleNbtn{
    display: flex;
    justify-content: space-between;
}

.sectionTitle{
    display: flex;
    flex-direction: column;
}

.sectionTitle h2{
    font-size: 30.8px;
    font-weight: 600;
    margin-bottom: 6px;
    cursor: default;
}

.sectionTitle p{
    font-size: 18.3px;
    font-weight: 300;
    color: #696969;
}

.accentBtn{
    border: none;
    outline: none;
    background-color: #38B089;
    color: white;
    border: 2px solid #A3DBC9;
    padding: 7.6px 15px 7px 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 300;
    margin-top: 17.7px;
    border-radius: 20px;
    letter-spacing: .4px;
}

.accentBtn:hover, .accentBtn:active, .accentBtn:focus{
    background-color: #33A07D;
    border-color: #7ACAB0;
}

.cardWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.wcuCard{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 21px;
    padding-top: 26px;
    background-color: #fff;
    height: 148px;
    width: 230px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.068);
}

.wcuCard svg{
    height: 52px;
}

.wcuCard span{
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
}

.wcuCard p{
    font-size: 12.5px;
    font-weight: 300;
    color: #696969;
}

@media (min-width: 980px) {
    .titleNbtnMob{
        display: none;
    }
    .cardWrapperMob{
        display: none;
    }
}

@media (max-width: 980px) {

    .subWrapper{
        padding: 40px 0;
        width: 100%;
        align-items: flex-end;
    }

    .titleNbtn{
        display: none;
    }

    .cardWrapper{
        display: none;
    }

    .titleNbtnMob{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sectionTitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .sectionTitle h2{
        font-size: clamp(19px, 5.51vw, 25px);
        margin-bottom: 1px;
    }

    .sectionTitle p{
        font-size: clamp(12.5px, 3.65vw, 18px);
        width: 85%;
    }

    .cardWrapperMob{
        margin-left: 4.5%;
        margin-top: 19px;
        width: 95%;
    }

    .wcuCard{
        flex: 1 1 100%;
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        height: auto;
        max-height: 200px;
        align-items: center;
        padding: 21px;
        box-sizing: border-box;
        /* width: clamp(230px, 61.5vw, 250px);
        height: clamp(200px, 55.4vw, 220px); */
        text-align: center;
        box-shadow: none;
        border: 1px solid #e9e9e9;
    }

    .wcuCard span{
        font-size: clamp(16.5px, 4.79vw, 19px);
        font-weight: 600;
        margin-top: 0px;
    }
    
    .wcuCard p{
        font-size: clamp(13.9px, 4.05vw, 16px);
    }
    
    .swiperSlides{
        display: flex;
    }
}