.imgWrapper{
    position: relative;
    width: 70px;
    height: 70px;
}

.GoogleIcon{
    position: relative;
    width: 60px;
    height: 60px;
}

.cardWrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border: 1px solid #E9E9E9;
    padding: 37px 32px;
    height: 307px;
    width: 311px;
    border-radius: 17px;
}

.nameCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userName{
    display: flex;
    flex-direction: column;
    width: 190px;
    padding-left: 18px;
    font-size: 21.5px;
    font-weight: 600;
    padding-bottom: 4px;
}

.userName span{
    margin-bottom: 6px;
}

.starWrapper{
    display: flex;
    justify-content: space-between;
    width: 137px;
}

.quoteIcon{
    padding-bottom: 6px;
}

.quoteIcon svg{
    height: 35px;
    width: 35px;
}

.descCont{
    font-size: 18px;
    color: #696969;
    margin-top: 13px;
    width: 100%;
    height: 125px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.googleCont{
    display: flex;
    align-items: center;
    margin-bottom: -9px;
}

.Trust{
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    font-size: 18px;
    font-weight: 500;
    color: #696969;
}

.Trust span:nth-child(2){
    color: #1E2C70;
}

@media (max-width: 980px){
    .cardWrapper{
        width: 285px;
        height: 300px;
        padding: 22px 25px;
        box-sizing: border-box;
    }

    .userImg{
        height: 50px;
        width: 50px;
        min-height: 50px;
        min-width: 50px;
    }

    .imgWrapper{
        width: 100%;
        height: 100%;
    }

    .nameCont{
        justify-content: space-between;
    }

    .userName{
        width: 122px;
        font-size: 20px;
        padding: 0px;
    }
    
    .userName span{
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        margin-bottom: 1px;
    }

    .starWrapper svg{
        width: 16px;
    }

    .starWrapper{
        width: 110px;
    }

    .quoteIcon{
        padding-bottom: 0px;
    }
    
    .quoteIcon svg{
        height: 26px;
        width: 26px;
    }

    .descCont{
        font-size: 15px;
        height: 120px;
        -webkit-line-clamp: 6;
    }

    .googleCont{
        margin-bottom: 0px;
    }
    
    .Trust{
        margin-left: 7px;
        font-size: 15px;
    }

    .GoogleIcon{
        width: 42px;
        height: 42px;
    }
}