.subWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
}

.titleNbtn{
    display: flex;
    justify-content: space-between;
}

.sectionTitle{
    display: flex;
    flex-direction: column;
}

.sectionTitle h2{
    font-size: 30.8px;
    font-weight: 600;
    margin-bottom: 6px;
    cursor: default;
}

.sectionTitle p{
    font-size: 18.3px;
    font-weight: 300;
    color: #696969;
}

.navButton{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    width: 98px;
}

.leftNavBtn, .rightNavBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    width: 39px;
    cursor: pointer;
    border: 1px solid #696969;
    border-radius: 25px;
}

.leftNavBtn:hover, .rightNavBtn:hover{
    background-color: #1E2C70;
    border-color: #1E2C70;
}

.leftNavBtn:hover > svg path, .rightNavBtn:hover > svg path{
    stroke: white;
}

.cardWrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

@media (min-width: 980px) {
    .titleNbtnMob{
        display: none;
    }
    .cardWrapperMob{
        display: none;
    }
}

@media (max-width: 980px) {

    .subWrapper{
        padding: 40px 0;
        width: 100%;
        align-items: flex-end;
    }

    .titleNbtn{
        display: none;
    }

    .cardWrapper{
        display: none;
    }

    .titleNbtnMob{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sectionTitle{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .sectionTitle h2{
        font-size: clamp(19px, 5.51vw, 25px);
        margin-bottom: 1px;
    }
    
    .sectionTitle p{
        font-size: clamp(12.5px, 3.65vw, 18px);
    }

    .cardWrapperMob{
        display: flex;
        margin-left: 4.5%;
        margin-top: 19px;
        width: 95%;
    }
    
    .swiperSlides{
        display: flex;
    }
}