.subWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;

}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.068);
}

.slideWrapper{
    position: relative;
    /* height: 509px; */
    height: 100%;
    width: 1170px;
    border-radius: 20px;
    overflow: hidden;
}

.slide{
    /* height: 509px; */
    height: 350px;
    width: 1170px;
}

.imgWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
}

/* .navButton{
    display: flex;
    justify-content: space-between;
    width: 94%;
    position: absolute;
} */

.leftNav, .rightNav{
    position: absolute;
    display: flex;
    top: calc(50% - 24px);
    justify-content: center;
    align-items: center;
    border: none;
    width: fit-content;
    background-color: #ffffff70;
    backdrop-filter: blur(5px);
    padding: 13px;
    border-radius: 25px;
    cursor: pointer;
    z-index: 2;
}

.leftNav{
    left: 30px;
}

.rightNav{
    right: 30px;
}

.leftNav svg, .rightNav svg{
    height: 22px;
    width: 22px;
}

.leftNav svg path, .rightNav svg path{
    stroke: black;
}