.mainWrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
    margin-top: 37px;
    padding: 27px 29px;
}

.positivePointList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.positiveCard{
    display: flex;
    align-items: center;
}

.cardIcon{
    background-color: #38B089;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50px;
}

.cardText{
    margin-left: 19px;
    font-weight: 500;
    font-size: 18px;
}

.positiveCard2 .cardIcon svg{
    width: 27px;
    height: 27px;
}

.positiveCard3 .cardIcon svg{
    width: 28px;
    height: 28px;
}
