.mainWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 0;
}

.subWrapper{
    width: 1170px;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.asideMenu{
    position: sticky;
    top: 100px;
    height: fit-content;
}

.menuImage svg{
    height: 128px;
    width: auto;
    margin-left: 27px;
    margin-bottom: -5px;
}


.menuList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 18px;
    width: 304px;
    box-sizing: border-box;
    padding: 25px;
    height: 280px;
}

.menuItem{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 5px 20px;
    cursor: pointer;
}

.menuItem svg{
    height: 25px;
    width: auto;
    margin-right: 10px;
}

.menuItem span{
    font-size: 18px;
    font-weight: 500;
}

.menuItem:hover{
    background-color: #E9E9E9;
    color: #1E2C70;
}

.layoutBody{
    width: 791px;
}

@media (max-width: 980px){
    .subWrapper{
        width: 90%;
    }
    .mainContainer{
        margin-top: 20px;
        flex-direction: column;
    }
    .asideMenu{
        position: unset;
    }
    .layoutBody{
        width: 100%;
    }
    .menuImage{
        display: none;
    }
    .menuList{
        flex-wrap: wrap;
        flex-direction: row;
        border-radius: 18px;
        width: 100%;
        height: fit-content;
        padding: 15px;
        border-radius: 8px;
        gap: 5px;
    }
    .menuItem{
        flex: 1;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 7px;
        border-radius: 5px;
        gap: 5px;
        cursor: pointer;
    }
    .menuItem span{
        text-wrap: nowrap;
        font-size: 13px;
    }
    .menuItem svg{
        min-height: 25px;
        width: auto;
        margin-right: 0px;
    }
}