.mainWrapper{
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 39px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.infoList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoListIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #38B089;
}

.infoListDesc{
    font-size: 15px;
    color: #696969;
    width: 350px;
}