.mainWrapper{
    position: relative;
    height: 467px;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 22px 26.5px;
}

.bigferryIcon{
    position: absolute;
    height: 249px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.imWrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.mainTitle{
    font-size: 26.5px;
    font-weight: 600;
    color: #1F1F1F;
}

.desc{
    margin-top: 16px;
    font-size: 13px;
    color: #696969;
}

@media (max-width: 980px){
    .mainWrapper{
        display: none;
    }
}