.mainWrapper{
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.subWrapper{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px;
}

.dicountLeft{
    margin-left: 34px;
    width: 560px;
}

.title{
    font-size: 37.1px;
    font-weight: 600;
}

.desc{
    margin-top: 30px;
    margin-bottom: 24px;
    font-size: 21.7px;
}

.offerCode{
    user-select: text;
    font-weight: 600;
    color: #33A07D;
}

.dicountRight{
    height: 327px;
    width: 387px;
    transform: scaleX(-1)
}

.gifWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

@media (min-width: 980px) {
    .descMob{
        display: none;
    }
}

@media (max-width: 980px){
    .mainWrapper{
        margin-top: 50px;
    }
    .subWrapper{
        width: 90%;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .dicountRight{
        height: 250px;
        width: 100%;
    }
    .dicountLeft{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 30px;
        width: 100%;
        gap: 15px;
    }
    .title{
        font-size: 20px;
    }
    .desc{
        display: none;
    }
    .descMob{
        font-size: 17px;
    }
}
