*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html{
    background-color: #FAFBFC;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

::selection {
    background-color: #38B089; 
    color: #fff;           
  }
  
  /* For better browser compatibility */
::-moz-selection {
    background-color: #38B089; 
    color: #fff;           
}


::-webkit-scrollbar {
    -webkit-appearance: none;
}
  
::-webkit-scrollbar {
    width: 0;
    -webkit-appearance: none;
}


/* ::-webkit-scrollbar{
    display: block;
    width: 12px;
    background-color: transparent;
    border-radius: 20px;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar-thumb{
    display: block;
    width: 10px;
    background-color: #1E2C70;
    border-radius: 20px;
    scrollbar-gutter: stable;
} */



/* scrollbar 2 */
/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #1E2C70;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1e2c70bb;
} */



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}


.react-datepicker-wrapper, .react-datepicker__input-container{
    height: 100% !important;
    overflow: hidden;
}

.react-datepicker-popper{
    z-index: 5 !important;
}

button {
    font-family: 'DM Sans', sans-serif;
}

input{
    font-family: 'DM Sans', sans-serif;
}

textarea{
    font-family: 'DM Sans', sans-serif;
}

ul{
    list-style-type: none;
}

a:hover, a:active, a:focus, button:hover, button:active, button:focus{
    outline: none;
}

a{
    text-decoration: none;
}

.iconify--flag{
    min-width: 30px;
    height: 30px;
}

.listFlags .iconify--flag{
    min-width: 20px;
}