.mainWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}

.subWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subWrapper svg{
    height: 100px;
}

.subWrapper span{
    margin-top: 30px;
    font-size: 20px;
}

.wpBTN{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: fit-content;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0 13px;
    background-color: #26c943;
    color: #fff;
}

.wpBTN svg{
    height: 35px;
    margin-top: 2px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .subWrapper span{
        font-size: 16px;
        text-align: center;
    }

    .mainWrapper{
        box-sizing: border-box;
        padding: 0 10px;
    }
}