.mainWrapper{
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.inclusions, .Exclusions{
    border: 1px solid;
    border-radius: 15px;
    width: 322px;
}

.inclusions{
    border-color: #C1E7DA;
    background-color: #EBF7F3;
}

.incTitle, .excTitle{
    display: flex;
    align-items: center;
    padding: 0 29px;
    padding-top: 6px;
    box-sizing: border-box;
    height: 68px;
    border-bottom: 1px solid;
    font-size: 22px;
    font-weight: 500;
}

.incTitle{
    color: #38B089;
    border-bottom-color: #C1E7DA;
}

.Exclusions{
    border-color: #F1D3D3;
    background-color: #F8E9E9;
}

.excTitle{
    color: #BB2124;
    border-bottom-color: #F1D3D3;
}


.mdxContent{
    color: #696969;
    box-sizing: border-box;
    padding: 20px 20px;
}
@media (max-width: 980px){
    .mainWrapper{
        flex-direction: column;
        gap: 30px;
    }

    .inclusions, .Exclusions{
        width: 100%;
    }

    .incTitle, .excTitle{
        height: 100%;
        padding: 15px 20px;
        font-size: clamp(18px, 5.24vw, 22px);
    }

    .mdxContent{
        padding: 20px 16px;
    }
}