.seats{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* background-color: #38B089; */
    /* border: 2px solid #38B089; */
    height: 15px;
    width: 15px;
    border: 1px solid #B9BED3;
    border-radius: 3px;
    font-size: 7px;
    font-weight: 500;
    color: #1E2C70;
    cursor: pointer;
}

.seats:hover{
    background-color: #38B089;
    border-color: #38B089;
    color: white;
}

.bookedSeat{
    background-color: #E9E9E9;
    border-color: #E9E9E9;
    cursor: default;
    color: #fff;
}

.bookedSeat:hover{
    background-color: #E9E9E9;
    border-color: #E9E9E9;
    cursor: default;
    color: #fff;
}

.selectedSeat{
    background-color: #38B089;
    border-color: #38B089;
    color: white;
    cursor: pointer;
}

.specialSeatLable{
    font-size: 6px;
}