.OtpInpContainer{
    margin-top: 9px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.otpInput{
    border: 1px solid #bababa9a;
    background-color: #E9E9E9;
    outline: none;
    width: 49px;
    height: 49px;
    border-radius: 7px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
}

.otpInput:focus{
    border-color: #000;
}

.filledInput{
    outline: auto;
    outline-color: #A3DBC9 !important;
}


@media (max-width: 980px){
    .OtpInpContainer{
        width: 100%;
        height: 40px;
        gap: 1px;
    }
    .otpInput{
        display: flex;
        flex: 1;
        aspect-ratio: 1/1;
        max-width: 40px;
        max-height: 40px;
        font-size: 20px;
    }
}