.mainWrapper{
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
}

.title{
    height: 76px;
    box-sizing: border-box;
    padding: 0 28px;
    border-bottom: 2px solid #E9E9E9;
    display: flex;
    align-items: center;
    font-size: 21.2px;
    font-weight: 600;
}

.mainContetn{
    box-sizing: border-box;
    padding: 20px 28px;
}

.packageTitle{
    font-size: 17px;
    font-weight: 600;
    color: #1F1F1F;
}

.summaryList{
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.summaryItem{
    display: flex;
    align-items: center;
}

.sumIconLable{
    display: flex;
    align-items: center;
    height: fit-content;
}

.itemIcon svg{
    width: 23px;
    margin-right: 13px;
}

.itemLable{
    font-size: 15px;
    font-weight: 600;
    color: #1F1F1F;
    margin-top: -4px;
}

.itemData{
    font-size: 15px;
    color: #1F1F1F;
    margin-top: -4px;
    margin-left: 13px;
    letter-spacing: .3px;
}

@media (max-width: 980px){
    .title{
        height: 100%;
        padding: 15px 20px;
        font-size: clamp(18px, 5.24vw, 22px);
    }
    .mainContetn{
        padding: 20px;
    }
    .packageTitle{
        font-size: 15px;
    }
    .summaryItem{
        align-items: flex-start;
    }
    .sumIconLable{
        display: flex;
        align-items: center;
        height: fit-content;
    }
    .itemIcon svg{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    .itemLable{
        font-size: 14px;
        text-wrap: nowrap;
    }
    .itemData{
        font-size: 14px;
        margin-left: 10px;
        margin-top: 3px;
    }
    
}