.mainWrapper{
    background-color: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 15px;
}

.title{
    height: 76px;
    box-sizing: border-box;
    padding: 0 28px;
    border-bottom: 1px solid #E9E9E9;
    display: flex;
    align-items: center;
    font-size: 21.2px;
    font-weight: 600;
}

.mainContent{
    box-sizing: border-box;
    padding: 20px 28px;
}

.packagePrice, .traveler, .discount, .subTotal, .taxsComp, .taxTitleComp, .utGstBrackDown, .cgstBrackDown, .totalAmt{
    display: flex;
    justify-content: space-between;
}

.packagePrice{
    margin-bottom: 20px;
}

.ppriceLeft, .ppriceRight{
    display: flex;
    flex-direction: column;
}

.ppriceRight{
    text-align: end;
}

.ppriceLable, .ppriceValue{
    font-size: 18px;
    font-weight: 600;
    color: #1F1F1F; 
}

.packageOption{
    margin-top: 3px;
    font-size: 15px;
}

.packageOption, .ppriceNote{
    color: #696969;
}

.ppriceNote{
    margin-top: 4px;
    font-size: 13px;
}

/* .traveler{
    margin-bottom: 20px;
} */

.travelerLable, .travelerValue{
    font-size: 18px;
    font-weight: 600;
    color: #1F1F1F;
}

.discount{
    margin-bottom: 20px;
}

.contro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 9px;
    margin-top: 27px;
    background-color: #F4F4F4;
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    height: 54px;
    margin-bottom: 27px;
}

.controTitle{
    display: flex;
    align-items: flex-end;
}

.controTitle svg{
    margin-bottom: 2px;
}

.controTitleText{
    color: #1E2C70;
    font-weight: 600;
    font-size: 14.7px;
    width: 120px;
    margin-left: 10px;
}

.controTitletc{
    color: #696969;
    font-size: 11px;
    margin-bottom: 2px;
}

.controPrice{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.controValue{
    color: #1E2C70;
    font-weight: 600;
    font-size: 14.7px;
}

.controIDW{
    cursor: pointer;
    font-weight: 600;
    font-size: 13.5px;
    color: #BB2124;
}

.sepretro{
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
}

.subTotal{
    margin-top: 19px;
    margin-bottom: 18px;
}

.totlaLable, .totalValue{
    font-size: 21px;
    font-weight: 600;
}

.taxsComp{
    margin-top: 18px;
    margin-bottom: 7px;
    flex-direction: column;
}

.taxLable, .taxValue{
    font-size: 18px;
    font-weight: 600;
}


.utGstLable, .utGstValue, .cgstLable, .cgstValue{
    font-size: 15px;
    color: #696969;
}

.utGstLable, .utGstValue{
    margin-top: 19px;
}

.cgstLable, .cgstValue{
    margin-top: 10px;
}

.totalAmt{
    height: 71px;
    align-items: center;
    box-sizing: border-box;
    padding: 0 28px;
}

.totalAmtLable{
    min-width: 180px;
}

.totalAmtLable, .totalAmtValue{
    font-size: 21.5px;
    font-weight: 600;
}

.ferryDeatil{
    background-color: #FAFBFC;
    border: 1px solid #E9EAF1;
    border-radius: 8px 8px 0 0;
    margin-top: 7px;
    box-sizing: border-box;
    padding: 23px 25px;
}

.ferryDeatilTital{
    display: flex;
    justify-content: space-between;
}

.tripDate{
    font-size: 15px;
    color: #696969;
}

.ferryClassTitle{
    margin-top: 2px;
    font-size: 15.3px;
    font-weight: 600;
}

.ferryTitleRight{
    margin-top: -5px;
    height: 43px;
    min-width: 43px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 14px 0px #0000000c;
}

.imgWrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.ferryRouteList{
    position: relative;
    margin-left: 2px;
    margin-top: 23px;
}

.locConnectorLine{
    position: absolute;
    height: 75%;
    width: 3px;
    background-color: #C1E7DA;
    top: 50%;
    left: 7.5px;
    transform: translateY(-50%);
}

.fromDotIco{
    background-color: #38B089;
    border-radius: 50px;
    border: 3px solid #C1E7DA;
    height: 13px;
    width: 13px;
    z-index: 1;
}

.ferryRouteFrom, .ferryRouteTo{
    display: flex;
}

.ferryRouteFromWrapper, .ferryToTop{
    margin-left: 14px;
}

.ferryFromTop, .ferryToTop{
    font-size: 15px;
}

.routeFromTime, .routeToTime{
    font-weight: 600;
}

.ferryFromBottom{
    margin-top: 5px;
    display: flex;
    font-size: 12px;
}

.routeDurationLable{
    color: #696969;
    font-weight: 600;
}

.routeDurationValue{
    margin-left: 5px;
    color: #696969;
}

.ferryRouteTo{
    margin-top: 5px;
    margin-bottom: 3px;
}

.ferryNote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38B089;
    border: 1px solid #E9EAF1;
    border-radius: 0 0 8px 8px;
    border-top: none;
    font-size: 13px;
    font-weight: 200;
    color: #fff;
    box-sizing: border-box;
    padding: 3px 0;
    margin-bottom: 25px;
}

.infantContainer, .adultContainer{
    margin-bottom: 30px;
    border-radius:  0 0 8px 8px;
    border: 1px solid #E9EAF1;
    box-sizing: border-box;
    padding: 23px 25px;
}

.adultContTitle, .infantContTitle{
    border-radius: 8px 8px 0 0;
    border: 1px solid #E9EAF1;
    border-bottom: 0;
    box-sizing: border-box;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 600;
}

.taxNote{
    margin-top: 25px;
    font-size: 13px;
    color: #696969;
}